body,
h1,
h2,
p {
  margin: 0;
}

body {
  height: 100vh;
  font-family: "Karla";
  font-size: 16px;
  font-weight: 400;
  color: white;
  background: hsl(204, 43%, 93%);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
}

.container {
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0 20px 20px #c9d2d8;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.community {
  border-radius: 5px 5px 0 0;
  width: 270px;
  height: 290px;
  padding: 0 25px;
  background: white;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.subscription {
  width: 270px;
  height: 240px;
  padding: 0 25px;
  background: hsl(179, 62%, 43%);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.why-us {
  border-radius: 0 0 5px 5px;
  width: 270px;
  height: 240px;
  padding: 0 25px;
  background: #4abebd;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.price-block {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#community__heading {
  font-size: 20px;
  font-weight: 700;
  color: hsl(179, 62%, 43%);
}

#community__sub-heading {
  font-weight: 700;
  color: hsl(71, 73%, 54%);
  margin: 25px 0 25px 0;
}

#community__paragraph {
  font-size: 14px;
  line-height: 2;
  color: hsl(218, 22%, 67%);
}

#subscription__heading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

#price {
  font-size: 30px;
  font-weight: 700;
  margin: 0 15px 0 0;
}

#frequency {
  color: rgba(255, 255, 255, 0.5);
}

#description {
  margin-bottom: 30px;
}

#button {
  border-radius: 5px;
  width: 270px;
  height: 50px;
  font-weight: 700;
  color: white;
  background: hsl(71, 73%, 54%);
  box-shadow: 0 5px 20px #249795;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#why-us__heading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

a:link {
  text-decoration: none;
}

#button:hover {
  background: hsl(71, 62%, 48%);
}

@media all and (max-width: 650px) {
  @media all and (max-height: 770px) {
    body {
      height: auto;
      padding: 80px 0;
    }
  }
}

@media all and (min-width: 650px) {
  @media all and (max-height: 480px) {
    body {
      height: auto;
      padding: 80px 0;
    }
  }
}

@media all and (min-width: 650px) {
  .card {
    width: 650px;

    flex-direction: row;
    flex-wrap: wrap;
  }

  .community {
    border-radius: 10px 10px 0 0;
    width: 570px;
    height: 220px;
    padding: 0 40px;
  }

  .subscription {
    border-radius: 0 0 0 5px;
    width: 245px;
    height: 260px;
    padding: 0 40px;
  }
  
  .why-us {
    border-radius: 0 0 5px 0;
    width: 245px;
    height: 260px;
    padding: 0 40px;
  }

  #community__heading {
    font-size: 25px;
    font-weight: 700;
    color: hsl(179, 62%, 43%);
  }

  #community__sub-heading {
    font-size: 18px;
    font-weight: 700;
    color: hsl(71, 73%, 54%);
    margin: 25px 0 10px 0;
  }

  #community__paragraph {
    font-size: 16px;
    line-height: 1.6;
    color: hsl(218, 22%, 67%);
  }

  #button {
    border-radius: 5px;
    width: 245px;
    height: 50px;
  }
}